:root {
    --topbar-bg: #08080880;
    --add-todo-bg: #101212e0;
    --main-fg: #d8dee9;
    --gray-color: #928374;
}
.todo {
    border-left-color: hsl(var(--hue), 34%, 54%);
    background: #101010aa;
    box-shadow: #8881 0px 2px 2px;
}
.topbar .first .select {
    color: #0f121680;
}
.todo .remove {
    border-radius: 0.3em;
    background: transparent;
}
.todo .remove:hover {
    background: hsla(2, 75%, 25%);
}
.todo .remove:hover .icon {
    color: hsl(6, 70%, 70%);
}